[Unit]
Description=Mount Samba share {{ mxbi_samba_share }}
After=network-online.target
Wants=network-online.target
Before=remote-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mount -t cifs "{{ mxbi_samba_share }}" "{{ mxbi_samba_mount_path }}" -o credentials=%d/cifs-credentials,uid={{ mxbi_uid }},gid={{ mxbi_gid }},vers=3.1.1,_netdev,rw
ExecStop=/usr/bin/umount "{{ mxbi_samba_mount_path }}"
TimeoutSec=30s
LoadCredentialEncrypted=cifs-credentials:{{ mxbi_samba_credential_path }}

[Install]
WantedBy=remote-fs.target
